*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;                      /*高度为窗口高度*/
    background-color: black;
    
}

.wrap{
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.2));      /*反射:向下反射 偏移12px 线性渐变：从透明到0.2*/
}

.wrap span{
    color: white;
    font-size: 30px;
    position: relative;
    display: inline-block;
    animation: KK 1s linear infinite;
    animation-delay: calc(.1s*var(--i));            /*动画延迟；通过var (-–i) 我们就可以获取到该标签style里面 i 的num值，延迟时间的计算为0.1s*i的值*/
}
@keyframes KK{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
